* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Baloo Bhaijaan 2", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #262626;
}

.headet-conainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1850px;
  width: 100%;
  padding: 30px 20px;
}

.heading-button {
  text-transform: capitalize;
  font-family: "Neucha", cursive;
}

.menu {
  width: 350px;
  padding: 15px 0;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-transform: uppercase;
}

.menu-list-link:hover,
.button-contact:hover,
.heading-button:hover {
  color: cadetblue;
  transition-delay: 0.09s;
}

.button-contact {
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 35px;
  text-transform: uppercase;
  font-size: 15px;
}

.button-contact:hover {
  border: 2px solid cadetblue;
}
